body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:40px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5960 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:118px;
  width:1100px;
  height:40px;
  display:flex;
}
#u5960 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5961 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:128px;
  width:153px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5961 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5962 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:129px;
  width:48px;
  height:21px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u5962 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:184px;
  width:8px;
  height:112px;
  display:flex;
}
#u5963 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:114px;
  width:98px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:625px;
  width:937px;
  height:117px;
  display:flex;
}
#u5965 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:642px;
  width:316px;
  height:35px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5966 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:524px;
  width:937px;
  height:93px;
  display:flex;
}
#u5967 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:536px;
  width:297px;
  height:35px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5968 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5969 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:911px;
  width:937px;
  height:221px;
  display:flex;
}
#u5969 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:919px;
  width:203px;
  height:35px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5970 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:755px;
  width:937px;
  height:143px;
  display:flex;
}
#u5971 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:772px;
  width:204px;
  height:35px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5972 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:842px;
  width:855px;
  height:32px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u5973 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:807px;
  width:139px;
  height:16px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u5974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:807px;
  width:18px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u5975 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:961px;
  width:120px;
  height:120px;
  display:flex;
  color:rgba(0, 0, 0, 0.427450980392157);
}
#u5977 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:1002px;
  width:28px;
  height:28px;
  display:flex;
}
#u5978 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  line-height:22px;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:207px;
  width:326px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  line-height:22px;
}
#u5979 .text {
  position:absolute;
  align-self:center;
  padding:5px 24px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  line-height:22px;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:207px;
  width:197px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  line-height:22px;
}
#u5980 .text {
  position:absolute;
  align-self:center;
  padding:5px 24px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:22px;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:175px;
  width:329px;
  height:32px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:22px;
}
#u5981 .text {
  position:absolute;
  align-self:center;
  padding:5px 24px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5981_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:273px;
  width:937px;
  height:42px;
  display:flex;
  opacity:0.3;
}
#u5982 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  line-height:22px;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:278px;
  width:854px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  line-height:22px;
}
#u5983 .text {
  position:absolute;
  align-self:center;
  padding:5px 24px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
  line-height:22px;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:278px;
  width:91px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
  line-height:22px;
}
#u5984 .text {
  position:absolute;
  align-self:center;
  padding:5px 24px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:2px 0px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:2px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow:2px 0px 4px rgba(0, 0, 0, 0.2);
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:1148px;
  width:1097px;
  height:56px;
  display:flex;
}
#u5985 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(245, 154, 35, 0.647058823529412);
  line-height:24px;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:1156px;
  width:124px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(245, 154, 35, 0.647058823529412);
  line-height:24px;
}
#u5986 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:1156px;
  width:115px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.988235294117647);
  line-height:24px;
}
#u5987 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:322px;
  width:937px;
  height:94px;
  display:flex;
}
#u5988 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:339px;
  width:182px;
  height:35px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5989 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:374px;
  width:886px;
  height:32px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u5990 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5991 label {
  left:0px;
  width:100%;
}
#u5991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:581px;
  width:151px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u5991 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5991_img.selected {
}
#u5991.selected {
}
#u5991_img.disabled {
}
#u5991.disabled {
}
#u5991_img.selectedDisabled {
}
#u5991.selectedDisabled {
}
#u5991_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:139px;
  word-wrap:break-word;
  text-transform:none;
}
#u5991_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5992 label {
  left:0px;
  width:100%;
}
#u5992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:581px;
  width:151px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u5992 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5992_img.selected {
}
#u5992.selected {
}
#u5992_img.disabled {
}
#u5992.disabled {
}
#u5992_img.selectedDisabled {
}
#u5992.selectedDisabled {
}
#u5992_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:139px;
  word-wrap:break-word;
  text-transform:none;
}
#u5992_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  line-height:22px;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:238px;
  width:92px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  line-height:22px;
}
#u5993 .text {
  position:absolute;
  align-self:center;
  padding:5px 24px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5993_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:243px;
  width:146px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u5994 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5994_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:422px;
  width:937px;
  height:94px;
  display:flex;
}
#u5995 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:439px;
  width:182px;
  height:35px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u5996 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:474px;
  width:886px;
  height:32px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u5997 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5998 label {
  left:0px;
  width:100%;
}
#u5998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:694px;
  width:151px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u5998 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5998_img.selected {
}
#u5998.selected {
}
#u5998_img.disabled {
}
#u5998.disabled {
}
#u5998_img.selectedDisabled {
}
#u5998.selectedDisabled {
}
#u5998_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:139px;
  word-wrap:break-word;
  text-transform:none;
}
#u5998_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5999 label {
  left:0px;
  width:100%;
}
#u5999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:694px;
  width:151px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u5999 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5999_img.selected {
}
#u5999.selected {
}
#u5999_img.disabled {
}
#u5999.disabled {
}
#u5999_img.selectedDisabled {
}
#u5999.selectedDisabled {
}
#u5999_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:139px;
  word-wrap:break-word;
  text-transform:none;
}
#u5999_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6000 label {
  left:0px;
  width:100%;
}
#u6000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:694px;
  width:151px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u6000 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u6000_img.selected {
}
#u6000.selected {
}
#u6000_img.disabled {
}
#u6000.disabled {
}
#u6000_img.selectedDisabled {
}
#u6000.selectedDisabled {
}
#u6000_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:139px;
  word-wrap:break-word;
  text-transform:none;
}
#u6000_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:1150px;
  width:340px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
