body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:543px;
}
#u7925 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:57px;
  width:1170px;
  height:543px;
  display:flex;
}
#u7925 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7926 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:200px;
  width:1155px;
  height:400px;
  display:flex;
}
#u7926 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:50px;
}
#u7927 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:200px;
  width:1070px;
  height:50px;
  display:flex;
}
#u7927 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:82px;
}
#u7928 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:265px;
  width:905px;
  height:82px;
  display:flex;
}
#u7928 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:266px;
}
#u7929 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:345px;
  width:1170px;
  height:266px;
  display:flex;
}
#u7929 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:741px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B00094;
}
#u7930 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:265px;
  width:266px;
  height:741px;
  display:flex;
  color:#B00094;
}
#u7930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7931 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:110px;
  width:132px;
  height:35px;
  display:flex;
}
#u7931 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7932 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:502px;
  width:552px;
  height:40px;
  display:flex;
}
#u7932 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7933 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:150px;
  width:200px;
  height:40px;
  display:flex;
}
#u7933 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A6008B;
}
#u7934 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:48px;
  width:205px;
  height:190px;
  display:flex;
  color:#A6008B;
}
#u7934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7935 {
  border-width:0px;
  position:absolute;
  left:1353px;
  top:57px;
  width:82px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7936 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:555px;
  width:240px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
