body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:815px;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:46px;
  width:1000px;
  height:815px;
  display:flex;
}
#u8820 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:509px;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:1px;
  width:1000px;
  height:509px;
  display:flex;
}
#u8821 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:427px;
  width:311px;
  height:53px;
  display:flex;
}
#u8822 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:143px;
  width:132px;
  height:35px;
  display:flex;
}
#u8823 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:1px;
  width:64px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:427px;
  width:166px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:518px;
  width:20px;
  height:99px;
  display:flex;
}
#u8826 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:518px;
  width:20px;
  height:39px;
  display:flex;
}
#u8827 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:529px;
  width:126px;
  height:19px;
  display:flex;
}
#u8828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8829_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:523px;
  width:215px;
  height:30px;
  display:flex;
}
#u8829 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8829_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8829.disabled {
}
#u8830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:474px;
  width:70px;
  height:19px;
  display:flex;
  text-align:right;
}
#u8830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8831_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:468px;
  width:748px;
  height:30px;
  display:flex;
}
#u8831 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8831_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8831.disabled {
}
#u8832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:524px;
  width:154px;
  height:19px;
  display:flex;
}
#u8832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8833_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:518px;
  width:215px;
  height:30px;
  display:flex;
}
#u8833 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8833_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8833.disabled {
}
#u8834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8834 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:575px;
  width:70px;
  height:19px;
  display:flex;
}
#u8834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8834_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8835_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:569px;
  width:215px;
  height:30px;
  display:flex;
}
#u8835 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8835_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8835.disabled {
}
#u8836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:574px;
  width:70px;
  height:19px;
  display:flex;
}
#u8836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8837_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:568px;
  width:215px;
  height:30px;
  display:flex;
}
#u8837 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8837_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8837.disabled {
}
#u8838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:624px;
  width:70px;
  height:19px;
  display:flex;
  text-align:right;
}
#u8838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8839_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:618px;
  width:748px;
  height:30px;
  display:flex;
}
#u8839 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8839_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8839.disabled {
}
#u8840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:687px;
  width:136px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:725px;
  width:56px;
  height:19px;
  display:flex;
  text-align:right;
}
#u8841 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8841_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8842_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:719px;
  width:748px;
  height:30px;
  display:flex;
}
#u8842 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8842_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8842.disabled {
}
#u8843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:763px;
  width:70px;
  height:19px;
  display:flex;
  text-align:right;
}
#u8843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8844_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:758px;
  width:748px;
  height:30px;
  display:flex;
}
#u8844 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8844_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8844.disabled {
}
#u8845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:236px;
  width:355px;
  height:59px;
  display:flex;
}
#u8845 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
