body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-250px;
  width:1411px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:543px;
}
#u8711 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:1px;
  width:1170px;
  height:543px;
  display:flex;
}
#u8711 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8712 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:144px;
  width:1155px;
  height:400px;
  display:flex;
}
#u8712 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:82px;
}
#u8713 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:164px;
  width:905px;
  height:82px;
  display:flex;
}
#u8713 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:266px;
}
#u8714 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:246px;
  width:1171px;
  height:266px;
  display:flex;
}
#u8714 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8715 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:107px;
  width:87px;
  height:27px;
  display:flex;
}
#u8715 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8716 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:111px;
  width:111px;
  height:19px;
  display:flex;
}
#u8716 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8717 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:404px;
  width:552px;
  height:40px;
  display:flex;
}
#u8717 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:504px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A6008B;
}
#u8718 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:67px;
  width:205px;
  height:504px;
  display:flex;
  color:#A6008B;
}
#u8718 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
